<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>BookServlet.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet1</servlet-name>
        <servlet-class>BookServlet.BookServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>BookServlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailServlet</servlet-name>
        <servlet-class>BookServlet.BookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropBookServlet</servlet-name>
        <servlet-class>BooksServlet.DropBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropBooksServlet</servlet-name>
        <servlet-class>BookServlet.DropBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateBookServlet</servlet-name>
        <servlet-class>BookServlet.ValidateBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet1</servlet-name>
        <url-pattern>/BookServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailServlet</servlet-name>
        <url-pattern>/BookDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropBookServlet</servlet-name>
        <url-pattern>/DropBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropBooksServlet</servlet-name>
        <url-pattern>/DropBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateBookServlet</servlet-name>
        <url-pattern>/ValidateBookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
